.d-none{
    display: none;
}
.d-block{
    display: block;
}
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-d-row-mobile-column {
    flex-direction: column;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .d-flex-d-row-mobile-column {
        flex-direction: row;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
